footer.ftr
    .container
      .ftr__inner
        p.ftr-text Многие товары мы производим в России сами. Мы стараемся сократить воздействие на природу на всех этапах работы нашего интернет-магазина. Поэтому при упаковке заказов мы не используем пластик, заменяя его в первую очередь на бумагу, произведенную из макулатуры.
        ul.ftr-menu
          li.ftr-menu__item
            a.link.ftr-menu__link(href="./index.html#store") Магазин
          li.ftr-menu__item
            a.link.ftr-menu__link(href="./auth.html") Аккаунт
          li.ftr-menu__item
            a.link.ftr-menu__link(href="./cart.html") Корзина
          li.ftr-menu__item
            a.link.ftr-menu__link(href="./index.html#articles") Статьи
          li.ftr-menu__item
            a.link.ftr-menu__link(href="./index.html#addresses") Адреса
        .ftr-contacts#contacts
          h5.ftr-contacts__title Контакты:
          .ftr-contacts__item
            i.fa.fa-instagram(aria-hidden="true")
            a.link.ftr-contacts__link(href="#") ZeroShop
          .ftr-contacts__item
            i.fa.fa-whatsapp(aria-hidden="true")
            a.link.ftr-contacts__link(href="#") +7(999)342-56-78
          .ftr-contacts__item
            i.fa.fa-facebook(aria-hidden="true")
            a.link.ftr-contacts__link(href="#") ZeroShop
        .ftr-subscribe
          h5.ftr-subscribe__title Оформить подписку:
          form.form
            input(type="text" placeholder="Выведите свой E-mail:")
            button.arrow