header.hdr
    .container
      nav.hdr__nav
        ul.menu
          li.menu__item
            a.menu__link(href="./index.html#store") Магазин
          li.menu__item
            a.menu__link(href="./index.html#articles") Статьи
          li.menu__item
            a.menu__link(href="./index.html#addresses") Адреса
          li.menu__logo
            a.logo__link(href="../index.html") Zero
          li.menu__item
            a.menu__link(href="./index.html#contacts") Контакты
          li.menu__item
            a.menu__link(href="./auth.html") Аккаунт
          li.menu__item
            a.menu__link(href="./cart.html") Корзина