.green-divider
.socialauth
  h2.section-title.socialauth__title Или войдите с помощью другого аккаунта
  .socialauth-list
    .socialauth__item
    .socialauth__item
    .socialauth__item
    .socialauth__item