// scss variables

$green: #264416;
$light-green: #658152;
$ftr-color: #101e08;
$main-ff: Consolas;
$sec-ff: Robotocondensed;
$sec-title-color: #000;
$link-col: #4d4d4d;
$menu-link-col: #000;
$icon-hover: invert(69%) sepia(97%) saturate(2264%) hue-rotate(351deg) brightness(100%) contrast(85%);

//  -- scss variables
